* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 1.1rem;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-flow: column;

    width: 700px;

    margin: 3rem auto;
    padding: 4rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.heading {
    font-size: 1.3rem;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 2px solid black;
    border-radius: 0.75rem;
    margin: 0.75rem 0;
}

.input input {
    width: 90%;

    padding: 0.375rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.input button {
    background-color: white;

    border-radius: 1rem;
    border: none;
    outline: none;
}

.input button:hover {
    cursor: pointer;
}

.input button > span {
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;

    margin-right: 0.15rem;
    margin-top: 0.2rem;
    border-radius: 0.5rem;

    background-color: black;
    background-image: url("../image/keyboard_return_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.todo {
    display: flex;
    justify-content: space-around;

    width: 100%;
    border-bottom: 2px solid #e8e8e8;
}

.todo label {
    width: 90%;
    margin: auto;
}

.del {
    background-color: white;
    border: none;
    cursor: pointer;
}

.delete {
    display: inline-block;
    width: 1rem;
    height: 1rem;

    background-image: url("../image/delete_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.marked {
    text-decoration: line-through;
    color: #e8e8e8;
}
