* {
    font-family: sans-serif;
    font-weight: 600;

    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;

    width: 700px;
    margin: 3rem auto;

    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.container > * {
    padding: 0.5rem 0 0 1rem;
}

.input-area {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#degrees {
    font-size: 1rem;
    max-width: 5rem;
    outline: none;
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.to,
.from {
    position: relative;
}

.from button,
.to button {
    position: relative;

    width: 8rem;

    font-size: 1rem;
    text-align: left;

    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.25rem;

    background-color: white;

    cursor: pointer;
}

.from button::after,
.to button::after {
    content: ">";
    position: absolute;
    display: inline-block;

    top: 0.75rem;
    right: 0.37rem;

    width: 1rem;
    height: 1rem;

    transform: rotate(90deg);
}

.from button:hover,
.to button:hover {
    background-color: black;
    color: white;
}

.options {
    position: absolute;
    list-style: none;

    max-width: 8rem;
    width: 8rem;
    max-height: fit-content;

    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.25rem;

    background-color: white;

    opacity: 1;
    transition: opacity 0.2s, visibility 0.2s;

    cursor: pointer;
}

.options .deg {
    margin: 0.25rem 0;
    padding: 0.5rem;
}

.from ul li:hover,
.to ul li:hover {
    color: gray;
    text-decoration: underline;
}

.not-displayed {
    opacity: 0;
    visibility: hidden;
}

input[type="submit"] {
    font-size: 1rem;
    font-weight: 500;

    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;

    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5rem;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}

input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    text-align: center;
}

input[type="number"] {
    appearance: textfield;
}
