* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 80vw;
    max-width: 600px;

    margin: 1rem auto;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius: 1rem;
}

h1 {
    margin-bottom: 0;
}

.inner-container > p {
    margin-top: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    color: white;

    width: 100%;

    padding: 0;
    border-radius: 1.5rem;
    border: none;

    text-align: left;

    cursor: pointer;
}

.buttons h2 {
    margin-left: 1.25rem;

    font-size: 1.2rem;
    font-weight: 500;
}

.buttons::after {
    content: "<";
    display: inline-block;

    margin-right: 1.25rem;

    font-size: 1.25rem;

    transform: rotate(-90deg);
}

.buttons.open::after {
    transform: rotate(90deg);
}

.buttons:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.buttons::after:hover {
    color: black;
}

.text {
    display: none;
    border: 2px solid black;
    border-radius: 1.5rem;

    margin: 0.5rem 0;
}

.text p {
    padding: 1rem;
    margin: 0;
}

.open {
    display: block;
}
